<link rel="stylesheet" href="/stylesheets/artwork/edit.css">
<%- include("../partials/header") %>
</head>

<body>
   <!-- Bootstrap Navbar -->
   <%- include ("../partials/default") %>

<div class="container">
    <h1>
        Edit '<%= artwork.name %>'
    </h1>

    <div id="form-container">
        <form action="/artwork/<%= artwork._id %>?_method=PUT" method="POST">
            <!-- Name -->
            <div class="form-group">
                <input class="form-control" type="text" name="artwork[name]" placeholder="name" value="<%= artwork.name %>">
            </div>
            <!-- Description -->
            <div class="form-group">
                <textarea class="form-control" name="artwork[description]" placeholder="description" maxlength="5000" rows="5"><%= artwork.description %></textarea>
            </div>

            <!-- Submit -->
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">
                    Submit
                </button>
            </div>
        </form>
    
        <a href="/artwork/<%=artwork._id%>">Back</a>
    </div>

</div>>

<%- include('../partials/footer') %>
