<!-- Search contains the same styled content as discover, so we just add the stylesheet for discover to search.ejs -->
<%- include("../partials/header") %>
<link rel="stylesheet" href="/stylesheets/main/discover.css">
</head>
<body>
   <!-- Bootstrap Navbar -->
   <%- include ("../partials/default") %>

<!-- Searched Artwork Displayed by Table (Nearly the exact same as the Discover Page)-->
<div class="container-fluid" style="width: 80%;">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Image</th>
          <th scope="col" style="width: 10%;">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Author</th>
        </tr>
      </thead>

      <tbody>
      <% 
        artworks.forEach( (artwork) => { %>

        <tr>
          <td><a href="/artwork/<%= artwork._id %>"><img src="<%= artwork.img.data %>" style="height: 150px; border: 1px solid black;"></a></td>
          <% // Artwork Name %>
          <td><a href="/artwork/<%= artwork._id %>">
            <% if (artwork.name && artwork.name.length > 0) { %>
              <%= artwork.name %>
            <% } else { %>
              Nameless..
            <% } %>
          </a></td>

          <% // Artwork Description %>
          <td>
          <% if (artwork.description && artwork.description.length > 0) { %>
            <%= artwork.description.substr(0, 1500) %>..
          <% } else { %>
            No Description...
          <% } %>
          </td>

          <% // Artwork Author %>
          <td><a href="/profile/<%= artwork.author.username %>"><%= artwork.author.username %></a></td>
        </tr>
      <% }) %>
      </tbody>
    </table> 
</div>  


<%- include("../partials/footer") %>