<%- include('../partials/header') %>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="thumbnail">
                <img class="rounded mx-auto d-block" src="<%= artwork.img.data %>" style="width: 100%;
                height:auto; margin-top: 10px; border: 1px solid black;">
                
                <div class="caption-full" style="border: 1px solid black; padding: 5px; margin-top: 10px;">
                    <!-- Name of the Artwork -->
                    <div style="display: inline-block; width: 100%;">
                        <h4 style="display: inherit; margin-right: 90%;">
                            <% if (artwork.name.length == 0) { %>
                                <i>No Name..</i>
                            <% } else { %>
                                <%= artwork.name %>
                            <% } %>
                        </h4>
                        
                        <% if (currentUser && artwork.likes.some((likedBy) => likedBy.equals(currentUser._id))) { %>
                            <form action="/artwork/<%= artwork._id%>/unlike?_method=PUT" method="POST" style="display: inherit;">
                                <button type="submit">Unlike</button>
                            </form>
                        <% } else { %>
                            <form action="/artwork/<%= artwork._id%>/like?_method=PUT" method="POST" style="display: inherit;">
                                <button type="submit">Like</button>
                            </form>
                        <% } %>


                        <% if (currentUser && artwork.favorites.some((favoritedBy) => favoritedBy.equals(currentUser._id))) { %>
                            <form action="/artwork/<%= artwork._id%>/unfavorite?_method=PUT" method="POST" style="display: inherit;">
                                <button type="submit">Unfavorite</button>
                            </form>
                        <% } else { %>
                            <form action="/artwork/<%= artwork._id%>/favorite?_method=PUT" method="POST" style="display: inherit;">
                                <button type="submit">Favorite</button>
                            </form>
                        <% } %>

                    </div>

                    <!-- Description of the Artwork -->
                    <p style="">
                        <% if (artwork.description.length == 0) { %>
                            <i>No Description</i>
                        <% } else { %>
                            <%= artwork.description %>
                        <% } %>
                    </p>

                    <h4>Created by <a href="/profile/<%=artwork.author.username%>"><%= artwork.author.username %></a> on <%= artwork.createdAt.toISOString().replace(/T/, ' ').replace(/\..+/, '')  %></h4>
                    
                    <!-- Edit/Delete Button for Artwork -->
                    <% if (currentUser && artwork.author.id == currentUser.id) { %> 
                        <a class="btn btn-warning" href="<%= artwork._id %>/edit">Edit</a>
                        <form action="/artwork/<%= artwork._id %>?_method=DELETE"  method="POST" class="delete-form" style="float: right;">
                            <input type="submit" class="btn btn-xs btn-danger" onclick="return confirm('Are you sure you want to delete this item?');" value="Delete">
                        </form>
                    <% } %>
                    
                    <h1> <%= artwork.likes.length %> likes</h1>
                    <h1> <%= artwork.favorites.length %> favorites</h1>
                </div>
                
                <!-- Comment Section -->
                <div class="well" style="margin-top: 10px;">
                    <!-- Comment Input Field & Submit Button -->
                    <div class="text-right">
                        <form action="<%=artwork._id%>/comment" method="POST">
                            <div class="form-group">
                                <textarea class="form-control" name="comment[text]" placeholder="text" maxlength="1000" rows="3"></textarea>
                            </div>
                            
                            <div class="form-group">
                                <p style="float: left;"> <%= artwork.comments.length %> Comments </p>
                                <button class="btn btn-success">Add New Comment</a>
                            </div>
                        </form>
                    </div>

                    <hr>
                    
                    <% artwork.comments.reverse().forEach(function(comment) { %>
                        <!-- Comment Box -->
                        <div class="col-md-12">
                            <!-- Comment Username -->
                            <a href="/profile/<%=comment.author.username%>"><strong><%= comment.author.username %></strong></a>
                            <!-- Comment Date -->
                            <span class="pull-right"><%= comment.createdAt.toISOString().replace(/T/, ' ').replace(/\..+/, '') %></span>

                            <!-- Delete Button -->
                            <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
                                <form class="delete-form" action="/artwork/<%= artwork._id %>/comment/<%= comment._id %>?_method=DELETE" method="POST" style="float: right;">
                                    <input type="submit" class="btn btn-xs btn-danger" onclick="return confirm('Are you sure you want to delete this item?');" value="Delete">
                                </form>
                            <% } %>
                            <!-- Comment Text -->
                            <p>
                                <%= comment.text %>
                            </p>
                        </div>
                    <% }) %>
                </div>
            
            </div>
        </div>
    </div>

</div>
