<%- include("../partials/header") %>
<link rel="stylesheet" href="/stylesheets/artwork/show.css">
</head>

<body>
   <!-- Bootstrap Navbar -->
   <%- include ("../partials/default") %>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="thumbnail">
                <!-- Artwork Image -->
                <img class="rounded mx-auto d-block" src="<%= artwork.img.data %>">
                
                <!-- Artwork Details -->
                <div class="caption-full">
                    <!-- Name of the Artwork && Favorites/Likes -->
                    <div id="artwork-caption-full-top">
                        <h4 id="artwork-name">
                            <% if (artwork.name.length == 0) { %>
                                <i>No Name..</i>
                            <% } else { %>
                                <%= artwork.name %>
                            <% } %>
                        </h4>
                    
                        <div id="artwork-interaction">
                            <h5> <%= artwork.likes.length %> </h5>
                            <% if (currentUser && artwork.likes.some((likedBy) => likedBy.equals(currentUser._id))) { %>
                                <!-- Unlike -->
                                <form class="interaction-form" action="/artwork/<%= artwork._id%>/unlike?_method=PUT" method="POST">
                                    <button id="unlike-btn" type="submit" class="btn btn-light">
                                        <i class="fas fa-thumbs-up" id="thumbs-up-liked"></i>
                                    </button>
                                </form>
                            <% } else { %>
                                <!-- Like -->
                                <form class="interaction-form" action="/artwork/<%= artwork._id%>/like?_method=PUT" method="POST">
                                    <button id="like-btn" type="submit" class="btn btn-light">
                                        <i class="far fa-thumbs-up"></i>
                                    </button>
                                </form>
                            <% } %>

                            <h5> <%= artwork.favorites.length %> </h5>
                            <% if (currentUser && artwork.favorites.some((favoritedBy) => favoritedBy.equals(currentUser._id))) { %>
                                <!-- Unfavorite -->
                                <form class="interaction-form" action="/artwork/<%= artwork._id%>/unfavorite?_method=PUT" method="POST">
                                    <button id="unfavorite-btn" type="submit" class="btn btn-light">
                                        <i class="fas fa-heart" id="heart-favorited"></i>
                                    </button>
                                </form>
                            <% } else { %>
                                <!-- Favorite -->
                                <form class="interaction-form" action="/artwork/<%= artwork._id%>/favorite?_method=PUT" method="POST">
                                    <button id="favorite-btn" type="submit" class="btn btn-light">
                                        <i class="far fa-heart"></i>
                                    </button>
                                </form>
                            <% } %>
                        </div>
                    </div>

                    <!-- Description of the Artwork -->
                    <div id="artwork-caption">
                        <p>
                            <% if (artwork.description.length == 0) { %>
                                <i>No Description</i>
                            <% } else { %>
                                <%= artwork.description %>
                            <% } %>
                        </p>
                    </div>

                    <div id="date-created">
                        <h4>Created by <a href="/profile/<%=artwork.author.username%>"><%= artwork.author.username %></a> on <%= artwork.createdAt.toISOString().replace(/T/, ' ').replace(/\..+/, '')  %></h4>
                    </div>

                    <!-- Edit/Delete Button for Artwork -->
                    <% if (currentUser && artwork.author.id == currentUser.id) { %> 
                        <a class="btn btn-warning" href="<%= artwork._id %>/edit">Edit</a>
                        <form action="/artwork/<%= artwork._id %>?_method=DELETE"  method="POST" class="delete-form">
                            <input type="submit" class="btn btn-xs btn-danger" onclick="return confirm('Are you sure you want to delete this item?');" value="Delete">
                        </form>
                    <% } %>
                    

                </div>
                
                <!-- Comment Section -->
                <div class="well">
                    <!-- Comment Input Field & Submit Button -->
                    <div class="text-right">
                        <form action="<%=artwork._id%>/comment" method="POST">
                            <div class="form-group">
                                <textarea class="form-control" name="comment[text]" placeholder="text" maxlength="1000" rows="3" required></textarea>
                            </div>
                            
                            <div class="form-group">
                                <p id="total-comments"> <%= artwork.comments.length %> Comments </p>
                                <button class="btn btn-success">Add New Comment</a>
                            </div>
                        </form>
                    </div>

                    <hr>
                    
                    <% 
                        var limitTracker = 0;
                        var i = (page - 1) * limit;

                        for (i; i < artwork.comments.length && limitTracker < limit; i++, limitTracker++) { %>
                            <% var comment = artwork.comments[i]; %>
                            
                            <!-- Comment Box -->
                            <div class="col-md-12 comment-column">
                                <% /* Comment Username */ %>
                                <a href="/profile/<%=comment.author.username%>" class="commenter-username"><span><%= comment.author.username %></span></a>
                                <% /* Comment Date */ %>
                                <span class="pull-right"><%= comment.createdAt.toISOString().replace(/T/, ' ').replace(/\..+/, '') %></span>

                                <% /* Delete Button */ %>
                                <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
                                    <form class="delete-form" action="/artwork/<%= artwork._id %>/comment/<%= comment._id %>?_method=DELETE" method="POST">
                                        <input type="submit" class="btn btn-xs btn-danger" onclick="return confirm('Are you sure you want to delete this item?');" value="Delete">
                                    </form>
                                <% } %>
                                <% /* Comment Text */ %>
                                <p> <%= comment.text %> </p>
                            </div>
                    <% } %>
                </div>

                <div class="row comment-navigation-row">
                    <div class="col-sm-6 mb-3">
                      <% if (parseInt(page) !== 1) { %>
                        <a href="/artwork/<%= artwork._id %>?page=<%= parseInt(page) - 1 %>"><button type="button" class="btn btn-light comment-back">Back</button></a>
                      <% } else { %>
                        <a href="/artwork/<%= artwork._id %>?page=<%= parseInt(page) - 1 %>"><button type="button" class="btn btn-light comment-back" disabled>Back</button></a>
                        <% } %>
                    </div>
            
                    <div class="col-sm-6 mb-3">
                        <% if (i < artwork.comments.length) { %>
                            <a href="/artwork/<%= artwork._id %>?page=<%= parseInt(page) + 1 %>"><button type="button" class="btn btn-dark comment-next">Next</button></a>
                        <% } else { %>
                            <a href="/artwork/<%= artwork._id %>?page=<%= parseInt(page) + 1 %>"><button type="button" class="btn btn-dark comment-next" disabled>Next</button></a>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include("../partials/footer") %>

