<link rel="stylesheet" href="stylesheets/home.css">
<%- include("./partials/header") %>
</head>

<body>
   <!-- Bootstrap Navbar -->
   <%- include ("./partials/default") %>

  <div id="home-display">
      <div id="home-message">
        <h1 class="display-4 home-text">Hello<% if (currentUser) { %> <%= currentUser.username %><% } %>, Welcome to Brush!</h1>
          <p class="lead home-text">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4 home-text">

        <p class="lead home-text">
          Get started Creating Now
        </p>
        <a class="btn btn-primary btn-lg" href="/create" role="button">Create</a>
      </div>

      <!-- Text Content -->
      <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
  </div>

    <!-- Trending -->
    <div class="container-fluid" id="trending-container1">
        <div class="col-12 col-md-8">
            <h1>Trending</h1>
        </div>

        <div class="row">
           <% for (var i = 0; i < 6; i++) { %>
               <div class="col">
                  <a href="/artwork/<%= artworks[i]._id %>"><img class="img-thumbnail" src="<%= artworks[i].img.data %>"></a>
                  <figcaption class="figure-caption">
                      <span class="artwork-name">
                          <% if (artworks[i].name) { %>
                            <%= artworks[i].name %>
                          <% } else { %>
                            Nameless
                          <% } %>
                     </span> by <a href="/profile/<%= artworks[i].author.username %>"><%= artworks[i].author.username %></a>
                  </figcaption>
               </div>
            <% } %>
        </div>
    </div>

    <!-- Trending 2 -->
    <div class="container-fluid" id="trending-container2">
        <div class="col-12 col-md-8">
            <h1>Trending</h1>
         </div>

         <div class="row">
            <% for (var i = 6; i < 12; i++) { %>
                <div class="col">
                   <a href="/artwork/<%= artworks[i]._id %>"><img class="img-thumbnail" src="<%= artworks[i].img.data %>"></a>
                   <figcaption class="figure-caption">
                    <span class="artwork-name">
                        <% if (artworks[i].name) { %>
                          <%= artworks[i].name %>
                        <% } else { %>
                          Nameless
                        <% } %>
                   </span> by <a href="/profile/<%= artworks[i].author.username %>"><%= artworks[i].author.username %></a>
                </figcaption>
             </div>
             <% } %>
         </div>
    </div>

    <!-- Trending 3 -->
    <div class="container-fluid" id="trending-container3"> 
        <div class="col-12 col-md-8">
            <h1>Trending</h1>
        </div>

        <div class="row">
            <% for (var i = 12; i < 18; i++) { %>
                <div class="col">
                   <a href="/artwork/<%= artworks[i]._id %>"><img class="img-thumbnail" src="<%= artworks[i].img.data %>"></a>
                   <figcaption class="figure-caption">
                    <span class="artwork-name">
                        <% if (artworks[i].name) { %>
                          <%= artworks[i].name %>
                        <% } else { %>
                          Nameless
                        <% } %>
                   </span> by <a href="/profile/<%= artworks[i].author.username %>"><%= artworks[i].author.username %></a>
                </figcaption>
             </div>
             <% } %>
         </div>
      </div>

<%- include("./partials/footer") %>