<%- include("./partials/header") %>

<div class="container">
    <div class="row" style="background: #E2E2E2;">
        <h1><%= user.username %>'s Profile!</h1>
    </div>
    <div class="row">
        <div class="col-4" style="background: rgb(247, 247, 247);">
            <img src="https://avatarfiles.alphacoders.com/699/69905.png" style="border: 1px solid black;
            margin-top: 10px;
            max-width: 300px;
            max-height: 300px;
            "></img>
        </div>
        <div class="col-8" style="border: 1px solid black; background: lightpink;">
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
            </p>
        </div>
    </div>
    <div class="row" style="height: 800px;">
        <div class="col-4" style="background: lightblue;">
            <h>
                Container Start
            </h>
            <p> Location: <span style="float: right;">???</span></p>
            <p> Location: <span style="float: right;">???</span></p>
            <p> Location: <span style="float: right;">???</span></p>

        </div>

        <div class="col-8" style="border: 1px solid black; background: rgb(247, 247, 247);">
            <div class="row" style="padding: 5px;">
                <% user.artworks.forEach(function(artwork) { %>
                    <div class="col">
                        <a href="/artwork/<%= artwork._id %>"><img class="img-thumbnail" src="<%=artwork.img.data%>"></a>
                     </div>
                <% }) %>
            </div>
        </div>

        <div class="col-8" style="border: 1px solid black; background: rgb(247, 247, 247);">
            <div class="row" style="padding: 5px;">
                <div class="col">
                    <a href="/artwork/id6"><img class="img-thumbnail" src="https://source.unsplash.com/xX6BOQ0fJvk"></a>
                 </div>
                <div class="col">
                    <a href="/artwork/id6"><img class="img-thumbnail" src="https://source.unsplash.com/xX6BOQ0fJvk"></a>
                </div>

                <div class="col">
                    <a href="/artwork/id6"><img class="img-thumbnail" src="https://source.unsplash.com/xX6BOQ0fJvk"></a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img class="img-thumbnail" src="https://images.unsplash.com/photo-1570393080660-de4e4a15a247?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NXx8YXJ0fGVufDB8MHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">
                </div>

                <div class="col">
                    <img class="img-thumbnail" src="https://images.unsplash.com/photo-1541367777708-7905fe3296c0?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTJ8fGFydHxlbnwwfDB8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">
                </div>

                <div class="col">
                    <img class="img-thumbnail" src="https://images.unsplash.com/photo-1545144760-f44b51664396?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTd8fGFydHxlbnwwfDB8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">
                </div>
            </div>
        </div>
    </div>
</div>>


<%- include("./partials/footer") %>