<%- include("../partials/header") %>

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="/profile/<%= user.username %>">Home</a></li>
            <li class="breadcrumb-item"><a href="/profile/<%= user.username %>/followers">Followers</a></li>
            <li class="breadcrumb-item"><a href="/profile/<%= user.username %>/following">Following</a></li>
            <li class="breadcrumb-item active">Favorites</li>
        </ol>
    </nav>

    <% if (user.favorites.length === 0) { %>
        <div class="col-md-12 text-center">
            <h2>No favorites found for <%= user.username %></h2>
        </div>
    <% } %>

    <div class="row gutters-sm mt-3">
        <% user.favorites.forEach( function(favorite) { %>
            <p><a href="/artwork/<%= favorite._id %>" style="color: inherit;">
                <div class="col-sm-4 mb-3">
                    <div class="card h-100">
                        <div class="card-body">
                            <% if (favorite.name.length === 0) { %>
                                <h6 class="d-flex align-items-center mb-3" style="color: lightslategray;"> No name </h6>
                            <% } else { %>
                                <h6 class="d-flex mb-3"> <%= favorite.name%> </h6>
                            <% } %>

                            <img src="<%=favorite.img.data%>" class="card-img-top" alt="">
                            <p class="card-text text-secondary" style="text-align: center;">
                                <% if (favorite.description.length === 0) { %>
                                    <i>No description</i>
                                <% } else { %>
                                    <%= favorite.description %>
                                <% } %>
                            </p>
                        </div>
                    </div>
                </div>
            </a></p> 
        <% }) %>
    </div>


</div>





<%- include("../partials/footer") %>