<%- include("../partials/header") %>
<link rel="stylesheet" href="/stylesheets/user/favorites.css">
</head>
<body>
   <!-- Bootstrap Navbar -->
   <%- include ("../partials/default") %>


<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="/profile/<%= user.username %>">Home</a></li>
            <li class="breadcrumb-item"><a href="/profile/<%= user.username %>/followers">Followers</a></li>
            <li class="breadcrumb-item"><a href="/profile/<%= user.username %>/following">Following</a></li>
            <li class="breadcrumb-item active">Favorites</li>
        </ol>
    </nav>

    <% if (user.favorites.length === 0) { %>
        <div class="col-md-12 text-center">
            <h2>No favorites found for <%= user.username %></h2>
        </div>
    <% } %>

    <div class="row">
        <% user.favorites.forEach( function(favorite) { %>
            <p><a class="artwork-title" href="/artwork/<%= favorite._id %>">
                <div class="col-lg-4 col-md-4 col-sm-6 mb-3">
                    <div class="card h-100">
                        <div class="card-body">
                            <% if (favorite.name.length === 0) { %>
                                <h6 class="missing-attr" class="d-flex align-items-center mb-3"> No name </h6>
                            <% } else { %>
                                <h6 class="d-flex mb-3"> <%= favorite.name%> </h6>
                            <% } %>

                            <img src="<%=favorite.img.data%>" class="card-img-top artwork-display-img" alt="">
                            <p class="card-text text-secondary">
                                <% if (favorite.description.length === 0) { %>
                                    <span class="missing-attr">No description</span>
                                <% } else { %>
                                    <%= favorite.description.substr(0, 100) %>
                                <% } %>

                                <% if (favorite.description.length >= 100) { %>
                                    <i>...</i>
                                <% } %>
                            </p>
                        </div>
                    </div>
                </div>
            </a></p> 
        <% }) %>
    </div>

    
    <div class="row comment-navigation-row">
        <div class="col-sm-6 mb-3">
          <% if (parseInt(page) !== 1) { %>
            <a href="/profile/<%= user.username %>/favorites?page=<%= parseInt(page) - 1 %>"><button type="button" class="btn btn-light comment-back">Back</button></a>
          <% } else { %>
            <a href="/profile/<%= user.username %>/favorites?page=<%= parseInt(page) - 1 %>"><button type="button" class="btn btn-light comment-back" disabled>Back</button></a>
          <% } %>
        </div>
    
        <div class="col-sm-6 mb-3">
            <% if (user.favorites.length === 0) { %>
                <a href="/profile/<%= user.username %>/favorites?page=<%= parseInt(page) + 1 %>"><button type="button" class="btn btn-dark comment-next" disabled>Next</button></a>
            <% } else { %>
                <a href="/profile/<%= user.username %>/favorites?page=<%= parseInt(page) + 1 %>"><button type="button" class="btn btn-dark comment-next">Next</button></a>
            <% } %>
        </div>
    </div>
</div>



<%- include("../partials/footer") %>