<%- include("../partials/header") %>
<link rel="stylesheet" href="/stylesheets/user/following.css">
</head>
<body>
   <!-- Bootstrap Navbar -->
   <%- include ("../partials/default") %>

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="/profile/<%= user.username %>">Home</a></li>
            <li class="breadcrumb-item"><a href="/profile/<%= user.username %>/followers">Followers</a></li>
            <li class="breadcrumb-item active">Following</li>
            <li class="breadcrumb-item"><a href="/profile/<%= user.username %>/favorites">Favorites</a></li>
        </ol>
    </nav>


    <% if (user.following.length === 0) { %>
        <div class="col-md-12 text-center">
          <h2>No following found for <%= user.username %></h2>
        </div>
    <% } %>

    <div class="row">
        <% user.following.forEach( function(following_user) { %>
            <p><a class="following-username" href="/profile/<%= following_user.username %>">
                <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                    <div class="card h-100">
                        <div class="card-body">
                            <!-- Following_User Username -->
                            <h6 class="d-flex mb-3"> <%= following_user.username %> </h6>

                            <!-- Following_User Profile Picture -->              
                            <% if (following_user.profilePicture) { %>
                                <img src="/uploads/<%= following_user.profilePicture %>" class="card-img-top" alt="">
                            <% } else { %>
                                <img src="/images/default/girl.png" class="card-img-top" alt="">
                            <% } %>
                        </div>
                    </div>
                </div>
            </a></p> 
    <% }) %>
    </div>

    <!-- Navigation Buttons -->
    <div class="row page-navigation-row">
        <div class="col-sm-6 mb-3">
          <% if (parseInt(page) !== 1) { %>
            <a href="/profile/<%= user.username %>/following?page=<%= parseInt(page) - 1 %>"><button type="button" class="btn btn-light page-back">Back</button></a>
          <% } else { %>
            <a href="/profile/<%= user.username %>/following?page=<%= parseInt(page) - 1 %>"><button type="button" class="btn btn-light page-back" disabled>Back</button></a>
          <% } %>
        </div>

        <div class="col-sm-6 mb-3">
            <% if (user.following.length === 0) { %>
                <a href="/profile/<%= user.username %>/following?page=<%= parseInt(page) + 1 %>"><button type="button" class="btn btn-dark page-next" disabled>Next</button></a>
            <% } else { %>
                <a  href="/profile/<%= user.username %>/following?page=<%= parseInt(page) + 1 %>"><button type="button" class="btn btn-dark page-next">Next</button></a>
            <% } %>
        </div>
    </div>

</div>


<%- include("../partials/footer") %>
