<%- include("../partials/header") %>
<link rel="stylesheet" href="/stylesheets/user/profile.css">
</head>
<body>
   <!-- Bootstrap Navbar -->
   <%- include ("../partials/default") %>

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Home</li>
            <li class="breadcrumb-item"><a href="/profile/<%= user.username %>/followers">Followers</a></li>
            <li class="breadcrumb-item"><a href="/profile/<%= user.username %>/following">Following</a></li>
            <li class="breadcrumb-item"><a href="/profile/<%= user.username %>/favorites">Favorites</a></li>
        </ol>
    </nav>
    
    <div class="row gutters-sm mt-3">
        <!-- User and Profile Information -->
        <div class="col-md-4 mb-3">
            <!-- Card Profile Picture -->
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <img id="profile-picture" src="
                        <% if (user.profilePicture) { %> 
                            /uploads/<%= user.profilePicture %> 
                        <% } else { %>
                            /images/default/default_profile_picture.png
                        <% } %>">

                        <div class="mt-3">
                            <h3><%= user.username %></h3>
                        </div>
                        <% if (currentUser && currentUser.username === user.username) { %>
                            <a class="btn btn-warning" href="<%= user._id %>/edit">Edit</a>
                        <% } %>

                        <!-- Follow Button -->
                        <% if (currentUser && currentUser.username !== user.username) { %>
                            <% if (user.followers.some((follower) => follower._id.equals(currentUser._id))) { %>
                                <a class="btn btn-danger" href="<%= user.username %>/unfollow">Unfollow</a>
                            <% } else { %>
                                <a class="btn btn-primary" href="<%= user.username %>/follow">Follow</a>
                            <% } %>
                        <% } %>
                    </div>
                </div>
            </div>

            <div class="card mt-3">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6>Location</h6>
                        <span class="text-secondary">
                            <% if (user.location) { %>
                                <%= user.location %> %>
                            <% } else { %>
                                Unknown
                            <% } %>
                        </span>
                    </li>
        
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6>Gender</h6>
                        <span class="text-secondary">
                            <% if (user.gender) { %>
                                <%= user.gender %>
                            <% } else { %>
                                Unknown
                            <% } %>
                        </span>
                    </li>

                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6>Age</h6>
                        <span class="text-secondary">
                            <% if (user.age) { %>
                                <%= user.age %>
                            <% } else { %>
                                Unknown
                            <% } %>
                        </span>
                    </li>

                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6>Total Likes</h6>
                        <span class="text-secondary"><%= totalLikes %></span>
                    </li>

                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6>Posts Liked</h6>
                        <span class="text-secondary"><%= user.likes.length %></span>
                    </li>

                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6>Total Works</h6>
                        <span class="text-secondary"><%= user.artworks.length %> / 21</span>
                    </li>

                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6>Followers</h6>
                        <span class="text-secondary"><%= user.followers.length %></span>
                    </li>

                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6>Following</h6>
                        <span class="text-secondary"><%= user.following.length %></span>
                    </li>

                </ul>
            </div>
        </div>

        <!-- Bio and Artwork -->
        <div class="col-md-8">
            <!-- Description Card -->
            <div class="card">
                <div class="card-body">
                    <p>
                        <% if (!user.description || user.description.length === 0) { %>
                            No Description
                        <% } else { %>
                            <%= user.description %>
                        <% } %>
                    </p>
                </div>       
            </div>

            <!-- Artwork Showcase -->
            <div class="row gutters-sm mt-3">
                <% user.artworks.forEach(function(artwork) { %>
                    <p><a class="artwork-navigate" href="/artwork/<%= artwork._id %>">
                        <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
                            
                            <!-- Beginning of Each Artwork Card -->
                            <div class="card text-center h-100">
                                <div class="card-header align-items-center">
                                    <div class="artwork-title">
                                        <% if (artwork.name.length === 0) { %>
                                            <span class="missing-attr">No title</span>
                                        <% } else { %>
                                            <%= artwork.name %>
                                        <% } %>
                                    </div>
                                </div>

                                <div class="card-body">
                                    <!-- Artwork Image -->
                                    <img src="<%=artwork.img.data%>" class="card-img-top artwork-display-img" alt="">
                                    
                                    <!-- Artwork Description -->
                                    <p class="card-text text-secondary">
                                        <% if (artwork.description.length === 0) { %>
                                            <span class="missing-attr">No description</span>
                                        <% } else { %>
                                            <%= artwork.description.substring(0, 100) %> <% if (artwork.description.length >= 100) { %> <i>...</i> <% } %>
                                        <% } %>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </a></p>  
                <% }) %>
            </div>
        </div>
    </div>

    <!-- Profile Comment Section -->
    <div class="well">
        <!-- Comment Input Field & Submit Button -->
        <div class="text-right">
            <form action="/profile/<%=user._id%>/comment" method="POST">
                <div class="form-group">
                    <textarea class="form-control" name="comment[text]" placeholder="text" maxlength="1000" rows="3" required></textarea>
                </div>
                
                <div class="form-group">
                    <p> <%= user.profileComments.length %> Comments </p>
                    <button class="btn btn-success">Add New Comment</a>
                </div>
            </form>
        </div>

        <hr>
        
        <% 
            var limitTracker = 0;
            var i = (page - 1) * limit;

            for (i; i < user.profileComments.length && limitTracker < limit; i++, limitTracker++) { %>
                <% var comment = user.profileComments[i]; %>

                <% /* Comment Box */ %>
                <div class="col-md-12 comment-column">
                    <% /* Comment Username */ %>
                    <a href="/profile/<%=comment.author.username%>" class="commenter-username"><span><%= comment.author.username %></span></a>

                    <% /* Comment Date */ %>
                    <span class="pull-right"><%= comment.createdAt.toISOString().replace(/T/, ' ').replace(/\..+/, '')  %></span>

                    <% /* Delete Button */ %>
                    <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
                        <form class="delete-form" action="/profile/<%= user._id %>/comment/<%= comment._id %>?_method=DELETE" method="POST">
                            <input type="submit" class="btn btn-xs btn-danger" onclick="return confirm('Are you sure you want to delete this item?');" value="Delete">
                        </form>
                    <% } %>
                    
                    <% /* Comment Text */ %>
                    <p> <%= comment.text %> </p>
                </div>
        <% } %>
    </div>

    <div class="row comment-navigation-row">
        <div class="col-sm-6 mb-3">
          <% if (parseInt(page) !== 1) { %>
            <a href="/profile/<%= user.username %>?page=<%= parseInt(page) - 1 %>"><button type="button" class="btn btn-light comment-back">Back</button></a>
          <% } else { %>
            <a href="/profile/<%= user.username %>?page=<%= parseInt(page) - 1 %>"><button type="button" class="btn btn-light comment-back" disabled>Back</button></a>
            <% } %>
        </div>

        <div class="col-sm-6 mb-3">
            <% if (i < user.profileComments.length) { %>
                <a href="/profile/<%= user.username %>?page=<%= parseInt(page) + 1 %>"><button type="button" class="btn btn-dark comment-next">Next</button></a>
            <% } else { %>
                <a href="/profile/<%= user.username %>?page=<%= parseInt(page) + 1 %>"><button type="button" class="btn btn-dark comment-next" disabled>Next</button></a>
            <% } %>
        </div>
    </div>
</div>


<%- include("../partials/footer") %>