<%- include("../partials/header") %>

<div class="container">
    <div class="row gutters-sm mt-3">
        <!-- User and Profile Information -->
        <div class="col-md-4 mb-3">
            <!-- Card Profile Picture -->
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <% if (user.profilePicture) { %>
                            <img src="/uploads/<%= user.profilePicture %>" style="border: 1px solid black; width: 300px;">
                        <% } else { %>
                            <img src="/images/girl.png" style="border: 1px solid black; width: 300px;">
                        <% } %>
                        <div class="mt-3">
                            <h3><%= user.username %></h3>
                        </div>
                        <% if (currentUser && currentUser.username === user.username) { %>
                            <a class="btn btn-warning" href="<%= user._id %>/edit">Edit</a>
                        <% } %>
                    </div>
                </div>
            </div>

            <div class="card mt-3">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6>Location</h6>
                        <span class="text-secondary"><%= user.location %></span>
                    </li>
        
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6>Gender</h6>
                        <span class="text-secondary"><%= user.gender %></span>
                    </li>

                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6>Age</h6>
                        <span class="text-secondary"><%= user.age %></span>
                    </li>

                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6>Posts Created</h6>
                        <span class="text-secondary"><%= user.artworks.length %></span>
                    </li>

                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6>Posts Liked</h6>
                        <span class="text-secondary"><%= user.likes.length %></span>
                    </li>

                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6>Community Comments</h6>
                        <span class="text-secondary"><%= user.totalComments %></span>
                    </li>

                </ul>
            </div>
        </div>

        <!-- Bio and Artwork -->
        <div class="col-md-8">
            <!-- Description Card -->
            <div class="card">
                <div class="card-body">
                    <p>
                        <% if (!user.description || user.description.length === 0) { %>
                            No Description
                        <% } else { %>
                            <%= user.description %>
                        <% } %>
                    </p>
                </div>       
            </div>

            <!-- Artwork Showcase -->
            <div class="row gutters-sm mt-3">
                <% user.artworks.forEach(function(artwork) { %>
                    <p><a href="/artwork/<%= artwork._id %>" style="color: inherit;">
                        <div class="col-sm-4 mb-3">
                            <div class="card h-100">
                                <div class="card-body">
                                    <% if (artwork.name.length === 0) { %>
                                        <h6 class="d-flex align-items-center mb-3" style="color: lightslategray;"> No name </h6>
                                    <% } else { %>
                                        <h6 class="d-flex mb-3"> <%= artwork.name%> </h6>
                                    <% } %>

                                    <img src="<%=artwork.img.data%>" class="card-img-top" alt="">
                                    <p class="card-text text-secondary" style="text-align: center;">
                                        <% if (artwork.description.length === 0) { %>
                                            <i>No description</i>
                                        <% } else { %>
                                            <%= artwork.description %>
                                        <% } %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a></p>  
                <% }) %>   
            </div>
        </div>

    </div>

    <!-- Profile Comment Section -->
    <div class="well" style="margin-top: 10px;">
        <!-- Comment Input Field & Submit Button -->
        <div class="text-right">
            <form action="/profile/<%=user._id%>/comment" method="POST">
                <div class="form-group">
                    <textarea class="form-control" name="comment[text]" placeholder="text" rows="3"></textarea>
                </div>
                
                <div class="form-group">
                    <p style="float: left;"> <%= user.profileComments.length %> Comments </p>
                    <button class="btn btn-success">Add New Comment</a>
                </div>
            </form>
        </div>

        <hr>
        
        <% user.profileComments.reverse().forEach(function(comment) { %>
            <!-- Comment Box -->
            <div class="col-md-12">
                <!-- Comment Username -->
                <a href="/profile/<%=comment.author.username%>"><strong><%= comment.author.username %></strong></a>

                <!-- Comment Date -->
                <span class="pull-right"><%= comment.createdAt %></span>
                <!-- Delete Button -->
                <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
                    <form class="delete-form" action="/profile/<%= user._id %>/comment/<%= comment._id %>?_method=DELETE" method="POST" style="float: right;">
                        <input type="submit" class="btn btn-xs btn-danger" onclick="return confirm('Are you sure you want to delete this item?');" value="Delete">
                    </form>
                <% } %>
                <!-- Comment Text -->
                <p>
                    <%= comment.text %>
                </p>
            </div>
        <% }) %>
    </div>
</div>


<%- include("../partials/footer") %>