<%- include("../partials/header") %>

<div class="container">
    <div class="row" style="background: #E2E2E2;">
        <h1><%= user.username %>'s Profile!</h1>
        <!-- Profile Edit Button -->
        <% if (currentUser && currentUser.username === user.username) { %>
            <a class="btn btn-warning" href="<%= user._id %>/edit">Edit</a>
        <% } %>
    </div>
    <div class="row">
        <div class="col-4" style="background: rgb(247, 247, 247);">
            <img src="https://avatarfiles.alphacoders.com/699/69905.png" style="border: 1px solid black;
            margin-top: 10px;
            max-width: 300px;
            max-height: 300px;
            "></img>
        </div>
        <!-- Bio -->
        <div class="col-8" style="border: 1px solid black; background: lightpink;">
            <p>
                <% if (!user.description || user.description.length === 0) { %>
                    No Description
                <% } else { %>
                    <%= user.description %>
                <% } %>
            </p>
        </div>
    </div>
    <div class="row" style="height: 800px;">
        <!-- -->
        <div class="col-4" style="background: lightblue;">
            <h>
                Container Start
            </h>
            <p> Location: <span style="float: right;">???</span></p>
            <p> Location: <span style="float: right;">???</span></p>
            <p> Location: <span style="float: right;">???</span></p>

        </div>
        <!-- Display Each Artwork by the User -->
        <div class="col-8" style="border: 1px solid black; background: rgb(247, 247, 247);">
            <div class="row" style="padding: 5px;">
                <% user.artworks.forEach(function(artwork) { %>
                    <div class="col">
                        <a href="/artwork/<%= artwork._id %>"><img class="img-thumbnail" src="<%=artwork.img.data%>"></a>
                     </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>>


<%- include("../partials/footer") %>